// COLOR VARIABLES
$color-dark: #0b0d17;
$color-light-grey: #d0d6f9;
$color-white: #FFF;
$color-purple: #D0D6F9;


@mixin transition-basic {
  transition: all 0.3s;

}

// FONT VARIABLES
$font-primary: 'Barlow Condensed',
sans-serif;
$font-secondary: 'Bellefair',
serif;


// BREAKPOINTS
$bp-tablet: 50em;
$bp-desktop: 62.5em;


// RESPONSIVE BREAKPOINTS 
// $bp-largest: 75em; // 1200px
// $bp-large: 62.5em; // 1000px
// $bp-medium: 50em; // 800px
// $bp-small: 37.5em; // 600px

$bp-height-low: 40.188em; // 643px

// Magins
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-large: 6rem;
$margin-largest: 8rem;



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  

}


main {

  margin: 0 auto;



}

h1,
h2,
h5 {
  color: $color-white;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: clamp(80px, 20vw, 140px);

}

h2 {
  font-size: 70px;

  @media only screen and (min-width: $bp-desktop) {
    grid-column: 2/2;
    font-size: 90px;
  }

}

h5 {
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 2.7px;

    
}

header {
  @media only screen and (min-width: $bp-desktop) {
    max-width: 1900px;
  }
}



.h5-small-screen {
  display: block;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 2.7px;

  @media only screen and (min-width: $bp-tablet) {
    display: none;
  }

  
}


.h5-large-screen {
  display: none;

  @media only screen and (min-width: $bp-tablet) {
    display: block;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    margin-left: 0;
    // margin-top: 0;
    font-size: 24px;
    margin-left: calc(8vw + 100px);
    margin-top: 2rem;
  }
  
}

.h5-large-screen-crew {
  display: none;

  @media only screen and (min-width: $bp-tablet) {
    display: block;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    margin-left: 0;
    margin-top: 0;
    font-size: 24px;
    
  }
  
}



.mob-nav {
  color: #fff;
  text-decoration: none;

  
}

// FLEX CLASSES
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.flex-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

