// COLOR VARIABLES
$color-dark: #0b0d17;
$color-light-grey: #d0d6f9;
$color-white: #FFF;


@mixin transition-basic {
  transition: all 0.3s;

}

// FONT VARIABLES
$font-primary: 'Barlow Condensed', sans-serif;
$font-secondary: 'Bellefair', serif; 
 

// RESPONSIVE BREAKPOINTS 
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

$bp-height-low: 40.188em; // 643px

// Magins
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-large: 6rem;
$margin-largest: 8rem;



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    // font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    // font-size: 35%;
  }

 
}

body {
    font-family: $font-primary;
    

}

main {
    
    margin: 0 auto;
    

        
}

h1 {
  font-size: 80px;
  color: $color-white;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}



.container {
  height: 100vh;
  background-image: url('/assets/home/background-home-mobile.jpg     ');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro {
  // border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: 2rem 1rem 0 1rem;
  text-align: center;
  gap: 1rem;

  &__subtext-up,&__subtext-down {
      color: $color-light-grey;
  }

  &__subtext-up {
    text-transform: uppercase;
    letter-spacing: 2.7px;
  }

  &__subtext-down {
    line-height: 30px;
    font-size: 18px;
  }
}

.header-top-bar {
  // border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  

}

.nav-toggle {
  background-color: transparent;
  background-image: url(/assets/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 30px;
  background-position: center center;
  height: 50px;
  z-index: 20;
}

.nav-toggle.active {
  background-image: url(/assets/shared/icon-close.svg);
  
}

.cta-col {
  // border: 2px solid red;
  text-align: center;
  margin-top: 5rem;
}

.btn-explore {
  width:10rem;
  height: 10rem;
  border-radius: 50%;
  font-size: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  color: $color-dark;
  background-color: $color-white;

  &:hover {
    
    box-shadow: 0 0 0 30px rgba(151, 151, 151, 0.4);
    
  }
}

.navigation-mobile {
  display: none;
  position: absolute;
  // border: 2px solid red;
  height: 100vh;
  top: 0;
  right: 0;
  width: 65vw;
  background-color: rgba(11, 13, 23, 0.98);
  z-index: 10;
}

.navigation-mobile.show {
  display: block;
}

.list {
  // border:2px solid white;

  color: $color-white;
  text-transform: uppercase;
  width: 100%;
  height:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  list-style: none;
  padding-left: 2rem;
  
 
 

  &__item {
    font-size: 30px;
    letter-spacing: 0.07em;
  }
  
}

