.buttons {
    display: flex;
    gap: 20px;
}

.num {
    width: 50px;
    height: 50px;
    border: 1px solid #d0d6f9;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.num.active {
    background-color: #fff;
    color: $color-dark;
}

.container-technology {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    @media only screen and (min-width: $bp-tablet) {
      background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
   
  }
  
  .tech-image {
    width: 100%;
    margin: 1rem 0 2rem;
  }

  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      gap: 1rem;
  }

  .tech-title {
    font-size: 15px;
    letter-spacing: 2.35px;
    text-transform: uppercase;
    color: $color-purple;
  }

  .tech-description {
    line-height: 25px;
    font-size: 18px;
    width: 85%;
    text-align: center;
    padding: 0 1rem;
    color: $color-purple;
  }
  
  .tech-header {
    font-size: 4.5vw;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .tech-container {
      margin-top:1rem;
      gap: 1rem;
  }